version: "3.9"

services:
  app:
    build: .
    container_name: movie-scout-app
    ports:
      - "5000:5000"
    env_file:
      - .env
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: movie-scout-db
    restart: always
    environment:
      POSTGRES_USER: moviescout
      POSTGRES_PASSWORD: moviescout
      POSTGRES_DB: moviescout
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
